
*.user

*.bak

android-build/

android-CardEngine-deployment-settings.json

.qmake.stash

armeabi-v7a/

Makefile

libCardEngine_armeabi-v7a.so

*.idx

.qtc_clangd/compile_commands.json

debug/

release/

Makefile.Debug

Makefile.Release

qml_qmlcache.qrc
