
*.user

android-build/.gradle/5.5.1/executionHistory/

android-build/.gradle/5.5.1/fileChanges/

android-build/.gradle/5.5.1/fileContent/

android-build/.gradle/5.5.1/fileHashes/

android-build/.gradle/5.5.1/

android-build/.gradle/buildOutputCleanup/

android-build/.gradle/vcs-1/

android-build/

android-CardEngine-deployment-settings.json

.qmake.stash

armeabi-v7a/

Makefile

libCardEngine_armeabi-v7a.so
